<div
  x-data="{
    lowerName: product.name.toLowerCase().replaceAll(' ', '_'),
    currentColor: product.colors[0],
  }"
>
  <a
    :href="`#/shop/${product.category}/${lowerName}?color=${currentColor}`"
    class="group block bg-neutral-200/75 rounded-md overflow-hidden"
  >
    <img
      :src="`./src/images/products/${lowerName}_${currentColor}.jpg`"
      :alt="product.name"
      loading="lazy"
      class="min-w-full mix-blend-multiply group-hover:brightness-95 transition duration-300"
    />
  </a>

  <div class="flex justify-between items-start relative">
    <div class="pr-11">
      <small
        id="product-label"
        x-text="product.stock === 'in stock'
          ? (product.label && capitalizeFirstLetter(product.label))
          : capitalizeFirstLetter(product.stock)"
        class="text-xs font-bold"
        :class="`text-${product.stock === 'in stock' ? 'red' : 'blue'}-500`"
      ></small>
      <a
        :href="`#/shop/${product.category}/${lowerName}?color=${currentColor}`"
        class="block"
        :class="(product.stock === 'in stock' && !product.label.length) && 'mt-6'"
      >
        <h3
          id="product-title"
          x-text="`${product.name}${product.colors.length > 1 ? ` (${currentColor})` : ''}`"
          class="font-bold"
        ></h3>
      </a>
    </div>
    <template x-if="product.stock === 'in stock'">
      <button
        id="add-to-cart-button"
        x-html="svg('bag')"
        class="absolute right-0 top-4"
        :class="btn.roundedGray"
        @click="await cart.addItem({
          name: product.name,
          color: currentColor,
          category: product.category,
          price: product.price,
          discount: product.discount,
          SKU: product.SKU,
        })"
      ></button>
    </template>
  </div>

  <div class="mt-1 flex space-x-2">
    <span
      id="original-price"
      x-text="`${currencyFormat(product.price)}`"
      :class="product.discount && 'line-through text-gray-400'"
    ></span>
    <template x-if="product.discount">
      <div class="flex items-center space-x-2">
        <span
          id="new-price"
          x-text="`${currencyFormat(Math.round(product.price * (100 - product.discount.split('%')[0]) / 100))}`"
        ></span>
        <span
          id="discount-badge"
          x-text="`–${product.discount}`"
          class="px-2 py-0.5 rounded-xl text-xs text-red-600 border border-red-600"
        ></span>
      </div>
    </template>
  </div>

  <template x-if="product.colors.length > 1">
    <div id="colors" class="mt-3 flex flex-wrap gap-1.5">
      <template x-for="color in product.colors" :key="color">
        <div
          class="p-0.5 border rounded-full flex justify-center items-center"
          :class="color === currentColor ? 'border-gray-500' : 'border-transparent'"
        >
          <button
            class="w-5 aspect-square rounded-full border border-gray-500 pointer"
            :class="color"
            :title="color"
            @click="currentColor = color"
          ></button>
        </div>
      </template>
    </div>
  </template>
</div>
