body {
  font-family: 'Noto Sans TC', sans-serif;
}

::selection {
  color: #333;
  background-color: #b3d8ff;
}

[x-cloak] {
  display: none;
}

.disabled {
  opacity: 0.65;
  user-select: none;
  pointer-events: none;
}

#side-menu::-webkit-scrollbar,
#products-filter::-webkit-scrollbar {
  width: 0;
}

img {
  pointer-events: none;
}

hr {
  border-color: silver;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  pointer-events: none;
}
input[type='range']::-webkit-slider-thumb {
  pointer-events: auto;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: whitesmoke;
  border: 2px solid #333;
  border-radius: 50%;
}
input[type='range']::-moz-range-thumb {
  pointer-events: auto;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: whitesmoke;
  border: 2px solid #333;
  border-radius: 50%;
}

.white {
  background-color: ghostwhite;
}

.gray {
  background-color: gray;
}

.black {
  background-color: #333;
}

.amber {
  background-color: peru;
}

.green {
  background-color: olivedrab;
}

.cyan {
  background-color: lightseagreen;
}

.blue {
  background-color: steelblue;
}
