body {
  font-family: 'Noto Sans TC', sans-serif;
}

::selection {
  color: #333;
  background-color: #b3d8ff;
}

[x-cloak] {
  display: none;
}

.disabled {
  opacity: 0.65;
  pointer-events: none;
}

#side-menu::-webkit-scrollbar {
  width: 0;
}

.white {
  background-color: ghostwhite;
}

.gray {
  background-color: gray;
}

.black {
  background-color: #333;
}

.amber {
  background-color: peru;
}

.green {
  background-color: olivedrab;
}

.blue {
  background-color: steelblue;
}
